@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  background-color: #f3eee2;
}

.margin-rule {
  border-left: 2px solid #b03a2e;
}

.font-bn {
  font-family: "Noto Sans Bengali", sans-serif;
}
